@page


<div id="check-Mail-Message"> 
	<div class="Icon">&#128386;</div>
	<h1>Check Your Email</h1>
	<h2>
		We’ve sent you an email with a link to finish resetting your password.
	</h2><br/>
	<h2>
		Can’t find the email? Try checking your spam folder.
	</h2>
	<a class="btn" href="@Url.Action("login", "Account")">Return to Login Page</a>
</div>
