@page
<h3>checkyouremail</h3>
<div class="Icon">&#128386;</div>
<div id="check-Mail-Message"> 
	<h1>CHECK YOUR EMAIL</h1>
	<h2>
		We’ve sent you an email with a link to finish resetting your password.
	</h2><br/>
	<h2>
		Can’t find the email? Try checking your spam folder.
	</h2>
</div>
<a class="btn" href="@Url.Action("login", "Account")">Return to Login Page</a>