
<form asp-action="passwordchanged" asp-controller="Password" method="post" class="form-group">
    <div class ="form-div-groups">
        <h3>New password</h3>
        <h2>Create your new password , so you can login to your account </h2>
    </div>
    <div class="form-div-groups">
        <label for="email">New Password</label><br>
        <input type="password" id="newPW" name="newPW" class="form-container" placeholder="New Password" />
    </div>
    <div class="form-div-groups">
        <label for="email">Confirm Password</label><br>
        <input type="password" id="confPW" name="confPW" class="form-container" placeholder="Repeat Password" />
    </div>
    <button type="submit" class="btn">Submit</button>
</form>



