

<div class="form-group">
	<div class="Icon">&#127873;</div>
	<h1>Password Changed!</h1>
	<h2>Password changed successfully, you can login again with a new password.</h2>
	<div>
		<a class="btn" href="@Url.Action("login", "Account")">login page</a>
	</div>
</div>
