html, body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    height: 100%;
    
}

/*media query---------------------------------------------------------------------------------*/
/*DESKTOP VERSION*/
@media (max-width: 2024px) {
    html {
        font-size: 16px;
    }
    .form-div-groups {
        margin-bottom: 1.5%;
    }
    .Icon {
        font-size: 200px;
    }
/*    .nav-icon {
        width: 700px;
        height: 400px;
    }*/


}
/*Tablet Version*/
@media(min-width:768px) and ( max-width:1024px){
    html {
        font-size: 14px;
    }
    .form-group {
        margin-top: 10%;
    }
    .form-div-groups {
        margin-bottom: 3%;
    }
    .Icon {
        font-size: 200px;
    }
  /*  .nav-icon {
        width: 500px;
        height: auto; 
    }*/

}

/*Mobile Version*/
@media( max-width:600px) {
    html {
        font-size: 14px;
    }
    .form-div-groups {
        margin-bottom: 3%;
    }
    .Icon {
        font-size: 120px;
    }
  /*  .nav-icon {
        width: 700px;
        height: 400px;
    }*/

}


.container-fluid {
    background-color: orange;
}


/*  THIS IS FOR HEADER FONT SIZE
    H1: FOR HEADERS 
    H2: FOR GREY FONT DESCRIPTIONS
    ---------------------------------------------------------------------------------
*/

h1{     
    font-size:24px;
    font-weight:600;
}
h2{
    color:#808080;
    font-size:14px;
}
.Icon{
    text-align:center;
}
/*FORM CSS SECTION---------------------------------------------------------------------------------*/
.form-group {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
}
/*INPUT TEXTBOX CSS*/
input {
    align-content: center;
    background-color: #d3d3d3;
    border: none;
    padding: 10px;
    width: 100%;
}

placeholder {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
/*FORGETPASSWOR ? LINK*/
.form-div-groups a {
    color: #ba2d32;
    text-decoration:none;

}
.form-div-groups a:hover {
    text-decoration: underline;
}
/*CHECKBOX SECTION*/
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-group label {
    display: flex;
    justify-content: space-between;
    align-items: center;
   cursor: pointer;
}
/* Hide the default checkbox */
.checkbox-group input[type="checkbox"] {
   display: none;
}

/* Custom checkbox */
.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #439551;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

/* Add a checkmark when selected */
.checkbox-group input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #439551;
    border-color: #439551;
}

    .checkbox-group input[type="checkbox"]:checked + .custom-checkbox::after {
        content: '';
        width: 10px;
        height: 10px;
        border: 2px solid white;
        border-width: 0 2px 2px 0;
        position: absolute;
        top: 1px;
        left: 2px;
        transform: rotate(45deg);
    }



/*BUTTON CSS SECTION---------------------------------------------------------------------------------*/
.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f1a259;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #FF7F50;
}

.btn-green {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #439551;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-green:hover {
        background-color: #589892;
}

/*ICON CSS-------------------------------------------------------------------------------*/
.Icon {
    color: #f1a259;
    width: 100%;
    text-align: center;
}

footer {
    height: 50px; /* Footer height */
    background: #f8f9fa;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better separation */
}

