html {
    font-family: Arial;
    margin: 0;
    padding: 0;
}
/*media query---------------------------------------------------------------------------------*/
/*DESKTOP VERSION*/
@media (max-width: 2024px) {
    html {
        font-size: 16px;
    }
    .form-div-groups {
        margin-bottom: 1.5%;
    }
    .Icon {
        font-size: 200px;
    }


}
/*Tablet Version*/
@media(min-width:768px) and ( max-width:1024px){
    html {
        font-size: 14px;
    }
    .form-group {
        margin-top: 10%;
    }
    .form-div-groups {
        margin-bottom: 3%;
    }
    .Icon {
        font-size: 200px;
    }

}

/*Mobile Version*/
@media( max-width:600px) {
    html {
        font-size: 14px;
    }
    .form-div-groups {
        margin-bottom: 3%;
    }
    .Icon {
        font-size: 120px;
    }

}


.container-fluid {
    background-color: orange;
}


/*  THIS IS FOR HEADER FONT SIZE
    H1: FOR HEADERS 
    H2: FOR GREY FONT DESCRIPTIONS
    ---------------------------------------------------------------------------------
*/

h1{     
    font-size:24px;
    font-weight:600;
}
h2{
    color:#808080;
    font-size:14px;
}
.Icon{
    text-align:center;
}
/*FORM CSS SECTION---------------------------------------------------------------------------------*/
.form-group {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
}
/*INPUT TEXTBOX CSS*/
input {
    align-content: center;
    background-color: #d3d3d3;
    border: none;
    padding: 10px;
    width: 100%;
}

placeholder {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
/*FORGETPASSWOR ? LINK*/
.form-div-groups a {
    color: #ba2d32;
    text-decoration:none;

}
.form-div-groups a:hover {
    text-decoration: underline;
}
/*BUTTON CSS SECTION---------------------------------------------------------------------------------*/
.btn {
    width: 100%;
    padding: 10px;
    margin-top:10px;
    background-color: #f1a259;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.btn:hover {
    background-color: #FF7F50;
}

/*EMAIL ICON CSS-------------------------------------------------------------------------------*/
.Icon {
    color: #f1a259;
    width: 100%;
    text-align: center;
}

