@page
@model ClubRainbowSG.Views.Event.myeventModel
@{
}

<div class="main_division">
    <div class="sub_division">
            <h1>Event: Name of the event</h1>
            <h1>Tickets: number</h1>
            <p>Start Date:</p>
            <p>End Date:</p>
            <p>Venue:</p>
            <div class="btn">Scan QR Code</div>
    </div>
    <div class="sub_division">
        <h1>Event: Name of the event</h1>
        <h1>Tickets: number</h1>
        <p>Start Date:</p>
        <p>End Date:</p>
        <p>Venue:</p>
        <div class="btn">Scan QR Code</div>
    </div>
</div>
