@page
@model ClubRainbowSG.Views.Event.ticketModel
@{
}

<form method="post" action="/Home/eventHome" class="form-group">
    <div class="form-ticket-group">
        <h1>Tickets</h1>
        <div>
            <p>
                Start Date:
            </p>
            <p>
                Wednesday 23 oct, 2;30pm-3.30pm
            </p>
        </div>
        <div>
            <p>
                End Date:
            </p>
            <p>
                Wednesday 30 nov, 2;30pm-3.30pm
            </p>
        </div>
        <div>
            <p>
                Venue:
            </p>
            <p>
                1234, ABC Street, Singapore
            </p>

        </div>
    </div>
    <div class="checkbox-container">
        <label class="checkbox-item">
            Option 1
            <input type="checkbox" name="option" value="Option 1">
            <span class="checkbox-custom"></span>
        </label>
        <label class="checkbox-item">
            Option 2
            <input type="checkbox" name="option" value="Option 2">
            <span class="checkbox-custom"></span>
        </label>
        <label class="checkbox-item">
            Option 3
            <input type="checkbox" name="option" value="Option 3">
            <span class="checkbox-custom"></span>
        </label>
        <label class="checkbox-item">
            Option 4
            <input type="checkbox" name="option" value="Option 4">
            <span class="checkbox-custom"></span>
        </label>
    </div>
    <button class="btn" type="submit">Submit</button>
</form>


