<h2>Welcome, student</h2>
    <form method="post" class="form-group">
        <h1>Welcome, John Doe</h1>

        <h2>Choose an Event</h2>

        @if (ViewBag.PCSNames is List<string> pcsNames && pcsNames.Any())
        {
            <select id="pcsDropdown" name="pcsDropdown" class="form-control">
                @foreach (var pcsName in pcsNames)
                {
                    <option value="@pcsName">@pcsName</option>
                }
            </select>
        }
        else
        {
            <p>No PCS names available.</p>
        }

        <!-- DISPLAY EVENT SECTION -->
        <div>
            <h1 id="eventName">Name of the event</h1>
            <h1>About This Event</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra dignissim ac ac ac.
                Nibh et sed ac, eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Viverra dignissim ac ac ac. Nibh et sed ac, eget malesuada.
            </p>
            <h1>Mobility Restrictions</h1>
            <p></p>
            <h1>Start Date</h1>
            <p>Wednesday 23 Oct, 2:30pm-3:30pm</p>
            <h1>End Date</h1>
            <p>Wednesday 30 Nov, 2:30pm-3:30pm</p>
            <h1>Venue</h1>
            <p>Taman Jurong, Taman Jurong Zone A RC</p>
            <h1>Attire</h1>
            <p></p>
        </div>

        <!-- FILL UP FORM -->
        <div class="checkbox-group">
            <label>
                Option 1
                <input type="checkbox" name="option" value="Option 1">
                <span class="custom-checkbox"></span>
            </label>
            <label>
                Option 2
                <input type="checkbox" name="option" value="Option 2">
                <span class="custom-checkbox"></span>
            </label>
            <label>
                Option 3
                <input type="checkbox" name="option" value="Option 3">
                <span class="custom-checkbox"></span>
            </label>
            <label>
                Option 4
                <input type="checkbox" name="option" value="Option 4">
                <span class="custom-checkbox"></span>
            </label>
            <button class="btn-green" type="submit">Submit</button>
        </div>
    </form>

<h2>Choose an Event</h2>
    <form method="post">
        <label for="dropdown">Select an Option:</label>
        @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.Options, "Please select", new { @class = "form-control", id = "dropdown" })
        
    </form>